@model FileViewModel
@{
    ViewData["Title"] = "UploadFile";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["SuccessMessage"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if(TempData["ErrorMessage"] !=null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(TempData["ErrorMessage"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center">
    <h2 class="display-6 mb-lg-5">Defending against File Uploading Attack</h2>
    <div class="container mt-4">
        <h1>Upload a File</h1>
        <form asp-action="Index" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="File" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mt-2">Upload</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}