@model UserViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="RegisterSafe3" method="post">
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserEmail" class="control-label"></label>
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserPassword" class="control-label"></label>
        <input asp-for="UserPassword" type="password" class="form-control" />
        <span asp-validation-for="UserPassword" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}